# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install wheel
        python -m pip install --upgrade pip
        pip install xlrd pylint pytest
        pip install -r requirements.txt
    - id: files
      uses: jitterbit/get-changed-files@v1
      with:
        format: 'csv'
    - name: Lint with pylint
      run: |
        ("${{ steps.files.outputs.added_modified }}" -split ",") | Foreach-Object {
          if ((${_} -match "^.*\.py") -and (-not (${_} -match "^.*(Lexer|Parser|ParserListener|CaseChangingStream)\.py"))) {
              pylint ${_}
          }
        }
      #  foreach (added_modified_file in "${added_modified_files[@]}") {
      #    pylint ${added_modified_file}
      #  }
      #run: |
      # stop the build if there are errors in pylint check
      #  pylint plsql2postgre
      #  pylint tests
    - name: Test with pytest
      run: |
        pytest
